# Ignore node_modules directory
node_modules/

# Ignore compiled TypeScript files (if any)
*.js

# Ignore package-lock.json
package-lock.json

# Ignore generated JavaScript files (if any)
*.js

# Ignore .DS_Store files (macOS-specific)
.DS_Store

# Ignore .vscode directory (Visual Studio Code specific)
.vscode/

# Ignore any files or directories created during development/build
dist/
build/
tmp/
.cache/
